*.class
*.egg
*.iml
*.jar
*.jar
*.log
*.prof
*.pyc
*.pyd
*.rdb
*.stackdump
*.tar.gz
*.classpath
*.project
*.history
.DS_Store
.vscode/
.setting/
.venv/
python-virtualenv/
test_virtualenv/
venv/
venv2/
virtualenv_linux/
virtualenv_pypy/
virtualenv/
virtualenv3/
target/
.cache/
.gradle/
.idea/
.kube/
build/
dist/
output/
node_modules/

identity.json
log.txt

*.egg_info/

static_codegen/
temp/
thrift_generated/

agent/config_file.json
agent/config_file2.json
agent/log.txt
agent/test.txt
agent/tests/agent.json
agent/tests/config_file.json
agent/tests/config_file2.json
agent/tests/test.txt
backend/server/static/rookout/js/rookout_web.js
frontend/rookout_web/yarn.lock
interfaces/protobuf/python/rook_pb2_grpc.py
interfaces/protobuf/python/rook_pb2.py
lib/temp.json
lib/test.json
rooks/jvm/rook/config.json
rooks/jvm/rook/src/main/proto/com/rookout/rook/rook.proto
rooks/node/sample/
rooks/python/Profile.prof
rooks/python/rook/lib/
rooks/python/rook/protocol/rook_pb2_grpc.py
rooks/python/rook/protocol/rook_pb2.py
rooks/python/rook/rook_pb2_grpc.py
rooks/python/rook/rook_pb2.py
rooks/python/rook/services/bdb.c
rooks/python/rook/services/bdb.pyd
rooks/python/rook/services/pyx_bdb.c
temp.json
test_all.json
test.json
