*.rdb
node_modules
.vscode
.cache
Agent/Rooks/Python/.idea/
*.stackdump
Agent/.idea/
Rooks/Python/.idea/
python-virtualenv/
IDL/temp/
Rooks/Python/thrift_generated/
Agent/thrift_generated/
*.pyc
Rooks/Python/rook/thrift_generated/
./.idea/
/.idea
agent/src/thrift_generated/
backend/.idea/
virtualenv/
venv/
venv2/
rooks/python/rook/protocol/rook_pb2.py
rooks/python/rook/protocol/rook_pb2_grpc.py
agent/identity.json
interfaces/protobuf/python/rook_pb2.py
interfaces/protobuf/python/rook_pb2_grpc.py
agent/tests/agent.json
agent/tests/config_file.json
agent/config_file.json
agent/config_file2.json
rooks/python/rook/lib/
build/
rooks/python/rook/rook_pb2.py
rooks/python/rook/rook_pb2_grpc.py
test_virtualenv/
demo/rook-0.1.0.tar.gz
demo/rookout-agent-0.1.0.tar.gz
virtualenv3/
agent/tests/config_file2.json
lib/test.json
lib/temp.json
temp.json
test.json
frontend/rookout_web/node_modules/
frontend/rookout_web/package-lock.json
frontend/rookout_web/yarn.lock
frontend/simple_https/node_modules/
dist/
backend/server/static/rookout/js/rookout_web.js
frontend/rookout_web/.idea/
agent/test.txt
virtualenv_pypy/
agent/rookout_agent.egg-info/
test_all.json
rooks/python/Profile.prof
rooks/python/rook/services/bdb.c
rooks/python/rook/services/bdb.pyd
rooks/jvm/.idea/
rooks/jvm/rook/.gradle/
rooks/jvm/rook/.idea/
*.class
rooks/jvm/rook/src/main/proto/com/rookout/rook/rook.proto
*.prof
demo/elasticsearch/rook.jar
rooks/jvm/rook/config.json
agent/tests/test.txt
pypy_virtualenv/
agent/log.txt
frontend/npm-debug.log
frontend/rookout_web/npm-debug.log.3924226913
virtualenv_linux/
rooks/jvm/scala/hello/project/target/
rooks/jvm/scala/hello/target/
.kube/
frontend/rookout_web/npm-debug.log
rooks/jvm/scala/.gradle/
*.jar
frontend/docs/node_modules/

.idea
*.iml
rooks/node/rook/node_modules/
rooks/node/rook/src/static_codegen/
rooks/python/rook.egg-info/
rooks/python/rook/services/pyx_bdb.c
*.pyd
rooks/node/sample/
agent/rookout_agent-9.9.9-py2.7.egg
identity.json
.venv
