files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01-sample-app.conf":
    content: |
      /tmp/sample-app*
 
  "/opt/elasticbeanstalk/tasks/taillogs.d/01-sample-app.conf":
    content: |
      /tmp/sample-app.log
      
  "/opt/elasticbeanstalk/lib/rook.jar" :
    mode: "000444"
    owner: root
    group: root
    source: "https://search.maven.org/remote_content?g=com.rookout&a=rook&v=LATEST"