files:
  "/opt/elasticbeanstalk/lib/rook.jar" :
    mode: "000444"
    owner: root
    group: root
    source: "http://repository.sonatype.org/service/local/artifact/maven/redirect?r=central-proxy&g=com.rookout&a=rook&v=LATEST"
option_settings:
  aws:elasticbeanstalk:application:environment:
    JAVA_TOOL_OPTIONS: '-javaagent:/opt/elasticbeanstalk/lib/rook.jar'
    ROOKOUT_TOKEN: "<your-token>"