option_settings:
  - namespace: aws:elasticbeanstalk:xray
    option_name: XRayEnabled
    value: true
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: XRAY_ENABLED
    value: '`{ "Fn::GetOptionSetting" : {"Namespace": "aws:elasticbeanstalk:xray", "OptionName": "XRayEnabled", "DefaultValue": "false"} }`'
  - namespace:  aws:elasticbeanstalk:application
    option_name:  Application Healthcheck URL
    value:  /search
