option_settings:
  - namespace: aws:elasticbeanstalk:xray
    option_name: XRayEnabled
    value: true
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: XRAY_ENABLED
    value: '`{ "Fn::GetOptionSetting" : {"Namespace": "aws:elasticbeanstalk:xray", "OptionName": "XRayEnabled", "DefaultValue": "false"} }`'
  - namespace:  aws:elasticbeanstalk:application
    option_name:  Application Healthcheck URL
    value:  /search
  - namespace:  aws:elasticbeanstalk:container:tomcat:jvmoptions
    option_name:  JVM Options
    value:  '-javaagent:/opt/elasticbeanstalk/lib/rook.jar'
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: ROOKOUT_TOKEN
    value: 'd1fee9a4a26620c993fb180677fad4ea6939677b82e6082265f889026f1cd71a'
    option_name: ROOKOUT_DEBUG
    value: '1'