files:
        "/opt/elasticbeanstalk/lib/rook.jar" :
            mode: "000444"
            owner: root
            group: root
            source: "http://repository.sonatype.org/service/local/artifact/maven/redirect?r=central-proxy&g=com.rookout&a=rook&v=LATEST"
option_settings:
    aws:elasticbeanstalk:container:tomcat:jvmoptions:
        JVM Options: '-javaagent:/opt/elasticbeanstalk/lib/rook.jar'
    aws:elasticbeanstalk:application:environment:
        ROOKOUT_TOKEN: '<your-token>'